.page-title-plain-text {
  padding-top: 0;
  font-size: 2.5em;
}

.page-title-error-text {
  margin-bottom: 1em;
  padding-bottom: .25em;
  border-bottom: 1px solid #dcddde;
  color: #E20000;
  font: 3em/1em Garamond, "Times New Roman", serif;
}

.application-signon {
  width: 85%;
}

.application-control-success {
   width: 80%; 
  float: none; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 1.5em;
  padding: 2em 2.5em;
  background: #e6e7e8 url("../images/grey-gradient.jpg") repeat-x;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e6e7e8);
    background-image:    -moz-linear-gradient(top, #fff, #e6e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e6e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e6e7e8);
  border: 1px solid #d1d3d4;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow:    0px 1px 10px rgba(0, 0, 0, .20);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, .20);
    box-shadow:         0px 1px 10px rgba(0, 0, 0, .20);
}

.application-control-error {
  width: 80%; 
  float: none; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 1.5em;
  padding: 2em 2.5em;
  background: #FAC9C9 url("../images/red-gradient.jpg") repeat-x;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF2F2), to(#FAC9C9));
    background-image: -webkit-linear-gradient(top, #FFF2F2, #FAC9C9);
    background-image:    -moz-linear-gradient(top, #FFF2F2, #FAC9C9);
    background-image:     -ms-linear-gradient(top, #FFF2F2, #FAC9C9);
    background-image:      -o-linear-gradient(top, #FFF2F2, #FAC9C9);
  border: 1px solid #d1d3d4;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow:    0px 1px 10px rgba(0, 0, 0, .20);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, .20);
    box-shadow:         0px 1px 10px rgba(0, 0, 0, .20);
}

.application-heading-success {
  margin-bottom: .95em;
  color: #000;
  font: bold 1.538em/1.5 Arial, sans-serif;
}

.application-heading-error {
  margin-bottom: .95em;
  color: #E20000;
  font: bold 1.538em/1.5 Arial, sans-serif;
}

.application-text-error, .application-text-success {
  width: 100%; 
  float: none; 
  margin-left: auto; 
  margin-right: auto
}